body {
  background-color: #EBEBEB;
  font-family: 'Lato', sans-serif;
  color : #424242;
  font-size: 14px;
  line-height: 1.5
}

#sidebar {
  position: fixed;
  background-color: #424242;
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu {
  margin-top: 50px;
  font-size: 25px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  color : #59ABE3;
}

#page-content {
  margin-left: 300px;
}

.container {
  width: 90%;
  margin : 20px auto 30px auto;
}

h1 {
  color : #00a1f1;
}

h2 {
  color : black;
}

h3 {
  color : #59ABE3;
}

ul {
  list-style-type: none;
  font-size: 20px;
  padding-left: 0px;
}

ul a {
  text-decoration: none;
  color: #C7C7C7;
}

ul a:hover{
  color : #59ABE3;
}

ul li {
  display: inline-block;
  margin: 25px;
}


.card {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius : 2px;
  box-shadow : 2px 2px 2px #bebebe;
}

.text-center {
  text-align: center;
}

#img-profile {
  border-radius: 50%;
  width: 200px;
  padding-top: 20px;
}

.img-medium {
  width: 140px;
  padding: 15px;
}
